@media screen and (min-width: 992px) {
  .mainContainer {
    display: flex;
    width: 100%;
    height: 70vh;
  }
  .subContainer1 {
    display: flex;
    flex-direction: column;

    width: 75%;
  }
  .subContainer2 {
    width: 25%;
  }
  .header {
    background-color: #9d9fa3;
    height: 12vh;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    padding: 0.5rem;
  }
  .footer {
    background-color: #9d9fa3;
    height: 12vh;
    margin-top: 1rem;
    font-size: 1.5rem;
    padding: 0.5rem;
  }
  .a {
    background-color: red;
    height: 50%;
    font-size: 1.5rem;
    padding: 0.5rem;
  }
  .b {
    background-color: orange;
    height: 50%;
    font-size: 1.5rem;
    padding: 0.5rem;
  }
  .c {
    background-color: yellow;
    height: 97.5%;
    font-size: 1.5rem;
    padding: 0.5rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .mainContainer {
    display: flex;
    width: 100%;
    height: 70vh;
  }
  .subContainer1 {
    display: flex;
    flex-direction: column;

    width: 50%;
  }
  .subContainer2 {
    width: 50%;
  }
  .header {
    background-color: #9d9fa3;
    height: 12vh;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    padding: 0.5rem;
  }
  .footer {
    background-color: #9d9fa3;
    height: 12vh;
    margin-top: 1rem;
    font-size: 1.5rem;
    padding: 0.5rem;
  }
  .a {
    background-color: red;
    height: 50%;
    font-size: 1.5rem;
    padding: 0.5rem;
  }
  .b {
    background-color: orange;
    height: 50%;
    font-size: 1.5rem;
    padding: 0.5rem;
  }
  .c {
    background-color: yellow;
    height: 97.5%;
    font-size: 1.5rem;
    padding: 0.5rem;
  }
}
@media screen and (max-width: 767px) {
  .mainContainer {
    display: flex;
    width: 100%;
    height: 70vh;
    flex-direction: column;
  }
  .subContainer1 {
    display: flex;
    flex-direction: column;
    height: 65%;
    width: 100%;
  }
  .subContainer2 {
    width: 100%;
    height: 33%;
  }
  .header {
    background-color: #9d9fa3;
    height: 12vh;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    padding: 0.5rem;
  }
  .footer {
    background-color: #9d9fa3;
    height: 12vh;
    margin-top: 1rem;
    font-size: 1.5rem;
    padding: 0.5rem;
  }
  .a {
    background-color: red;
    height: 50%;
    font-size: 1.5rem;
    padding: 0.5rem;
  }
  .b {
    background-color: orange;
    height: 50%;
    font-size: 1.5rem;
    padding: 0.5rem;
  }
  .c {
    background-color: yellow;
    height: 97.5%;
    font-size: 1.5rem;
    padding: 0.5rem;
  }
}
