@media screen and (min-width: 992px) {
  .mainContainer {
    display: flex;
    width: 100%;
    height: 70vh;
  }

  .header {
    background-color: #9d9fa3;
    height: 12vh;
    margin-bottom: 3vh;
    font-size: 1.5rem;
  }
  .footer {
    background-color: #9d9fa3;
    height: 12vh;
    margin-top: 3vh;
    font-size: 1.5rem;
  }
  .b {
    order: -1;
    background-color: green;
    width: 25%;
    height: 70vh;
    font-size: 1.5rem;
  }
  .a {
    background-color: #13d647;
    width: 50%;
    height: 70vh;
    font-size: 1.5rem;
  }
  .c {
    background-color: yellow;
    width: 25%;
    font-size: 1.5rem;
    height: 70vh;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .mainContainer {
    display: flex;
    width: 100%;
    height: 70vh;
    flex-wrap: wrap;
  }

  .header {
    background-color: #9d9fa3;
    height: 12vh;
    margin-bottom: 3vh;
    font-size: 1.5rem;
  }
  .footer {
    background-color: #9d9fa3;
    height: 12vh;
    margin-top: 3vh;
    font-size: 1.5rem;
  }
  .b {
    background-color: green;
    font-size: 1.5rem;
    height: 28vh;
    width: 50%;
  }
  .a {
    background-color: #13d647;
    font-size: 1.5rem;
    height: 42vh;
    width: 100%;
  }
  .c {
    background-color: yellow;
    font-size: 1.5rem;
    height: 28vh;
    width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .mainContainer {
    display: flex;
    width: 100%;
    height: 70vh;
    flex-direction: column;
  }

  .header {
    background-color: #9d9fa3;
    height: 12vh;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
  .footer {
    background-color: #9d9fa3;
    height: 12vh;
    margin-top: 1rem;
    font-size: 1.5rem;
  }
  .b {
    background-color: green;
    font-size: 1.5rem;
    height: 25%;
  }
  .a {
    background-color: #13d647;
    font-size: 1.5rem;
    height: 50%;
  }
  .c {
    background-color: yellow;
    font-size: 1.5rem;
    height: 25%;
  }
}
